.hexagon {
  position: absolute;
  width: 100px;
  height: 80px;
}

.hexagon-cat {
  position: absolute;
  left: 5px;
  top: -12px;
  z-index: 2;
}

.hexagon-rock {
  position: absolute;
  left: 10px;
  top: 0px;
  z-index:1;
}